# 01-Creation

Things to do:
1. Initialize root case
    1. take in FASTA file from directory
    2. save FASTA sequence as array of characters
    3. intitialize community, date
2. Create descendent communities
    1. Set number of people in each communitiy
    2. look at SIR rates  - when infected 
        1. infecting x in A - Poisson
        2. infection x in B - Poisson
        3. recovering and leaving R - Gaussian? IDK
        4. select person from each community randomly based on rate
    3. At infection, look at mutation formula and pass onto reciever
    
TODO:
 *  figure out community size x data structure - prob dictionary
 *  how to pick community?
 *  function to actually mutate sequence

# 0. Setup

In [2]:
import numpy as np
import scipy.stats as stats
import scipy.special as ssp
import matplotlib as plt
import pandas as pd
import random
import datetime

from Bio import SeqIO

In [70]:
np.random.binomial(99,.25)

32

In [4]:
base = SeqIO.to_dict(SeqIO.parse('data/reference.fasta', 'fasta'))
ref= base['base_case']
refseq = np.array(ref)

In [5]:
#determine infection rates for 
    #inter group
    # across group
#recovery

In [92]:
np.random.poisson(.419)

0

In [93]:
from functions import agent_mut_num

# 1. Initializing Cases/Agents

### 1.1 Community Stat
    start initalize all communities and starting state of susceptible

In [94]:
char = ['accession','community','state','infection_date','index_ID','descendants']
agents = pd.DataFrame(columns=char, index=range(100))

In [64]:
agents['state'] = 'S' 
    #initiialize all as Susceptible
agents['community'] = np.random.binomial(1,0.5,100) 
    #random 50/50 to be in community A vs B. multinomial if more communitis
agents['community'] = [ chr(x+65) for x in agents.community]
    #convert numerical binomial to char.
    
#don't need to save sequence here, save to dict w key as accession

In [65]:
agents

   accession community state infection_date index_ID descendants
0        NaN         A     S            NaN      NaN         NaN
1        NaN         B     S            NaN      NaN         NaN
2        NaN         A     S            NaN      NaN         NaN
3        NaN         B     S            NaN      NaN         NaN
4        NaN         A     S            NaN      NaN         NaN
..       ...       ...   ...            ...      ...         ...
95       NaN         A     S            NaN      NaN         NaN
96       NaN         B     S            NaN      NaN         NaN
97       NaN         A     S            NaN      NaN         NaN
98       NaN         A     S            NaN      NaN         NaN
99       NaN         B     S            NaN      NaN         NaN

[100 rows x 6 columns]

In [66]:
allseq = {}

### 1.2 Initial I

In [67]:
agents.at[0, 'accession'] = int(1234)
agents.at[0, 'state'] = 'I'
agents.at[0, 'infection_date'] = datetime.date.fromisoformat('2020-03-01')
allseq[agents.iloc[0].accession] = refseq 
agents

   accession community state infection_date index_ID descendants
0       1234         A     I     2020-03-01      NaN         NaN
1        NaN         B     S            NaN      NaN         NaN
2        NaN         A     S            NaN      NaN         NaN
3        NaN         B     S            NaN      NaN         NaN
4        NaN         A     S            NaN      NaN         NaN
..       ...       ...   ...            ...      ...         ...
95       NaN         A     S            NaN      NaN         NaN
96       NaN         B     S            NaN      NaN         NaN
97       NaN         A     S            NaN      NaN         NaN
98       NaN         A     S            NaN      NaN         NaN
99       NaN         B     S            NaN      NaN         NaN

[100 rows x 6 columns]

In [171]:
allseq.keys()

dict_keys([1234])

In [128]:
random?

Type:        module
String form: <module 'random' from '/opt/anaconda3/lib/python3.8/random.py'>
File:        /opt/anaconda3/lib/python3.8/random.py
Docstring:
Random variable generators.

    integers
    --------
           uniform within range

    sequences
    ---------
           pick random element
           pick random sample
           pick weighted random sample
           generate random permutation

    distributions on the real line:
    ------------------------------
           uniform
           triangular
           normal (Gaussian)
           lognormal
           negative exponential
           gamma
           beta
           pareto
           Weibull

    distributions on the circle (angles 0 to 2pi)
    ---------------------------------------------
           circular uniform
           von Mises

General notes on the underlying Mersenne Twister core generator:

* The period is 2**19937-1.
* It is one of the most extensively tested generators in existence.
* The random() method is implemented in C, executes in a single Python step,
  and is, therefore, threadsafe.

In [207]:
#mylist = np.arange(0,20)
np.delete(mylist,random.choice(mylist))
mylist = np.delete(mylist,random.choice(mylist))
mylist

array([ 0,  2,  3,  4,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 18, 19])